<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.felixidan.loadersdemo" >

    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityWithoutLoadersActivity"
            android:label="@string/title_activity_activity_without_loaders" >
        </activity>
        <activity
            android:name=".ActivityWithLoadersActivity"
            android:label="@string/title_activity_activity_with_loaders" >
        </activity>
        <activity
            android:name=".SimpleCursorLoaderActivity"
            android:label="@string/title_activity_simple_cursor_loader" >
        </activity>
        <activity
            android:name=".AsyncTaskLoaderLifecycleActivity"
            android:label="@string/title_activity_async_task_loader_lifecycle" >
        </activity>
        <activity
            android:name=".AddToUserDictonaryActivity"
            android:label="@string/title_activity_add_to_user_dictonary" >
        </activity>
        <activity
            android:name=".FragmentsActivityWithLoadersActivity"
            android:label="@string/title_activity_fragments_activity_with_loaders" >
        </activity>
        <activity
            android:name=".ActivityWithMultipleLoadersActivity"
            android:label="@string/title_activity_activity_with_multiple_loaders" >
        </activity>
    </application>

</manifest>
